#wrapper {
	background: grey;
	height: 100px;
	display: flex;
	width: 100%;
}

#sidebar {
	float: left;
	height: 100%;
	width: 30%;
	background: grey;
}

#content {
	background: green;
	height: 100%;
	width: 70%;
}
